[submodule "crafty"]
	path = crafty
	url = https://github.com/craftyjs/Crafty.git
[submodule "test/node_modules/nodeunit"]
	path = test/node_modules/nodeunit
	url = git://github.com/caolan/nodeunit.git
[submodule "test/node_modules/amdefine"]
	path = test/node_modules/amdefine
	url = https://github.com/jrburke/amdefine.git
[submodule "src/node_modules/amdefine"]
	path = src/node_modules/amdefine
	url = https://github.com/jrburke/amdefine.git
[submodule "src/node_modules/promise"]
	path = src/node_modules/promise
	url = https://github.com/then/promise.git
[submodule "test/node_modules/express"]
	path = test/node_modules/express
	url = https://github.com/visionmedia/express.git
[submodule "test/node_modules/peer"]
	path = test/node_modules/peer
	url = https://github.com/peers/peerjs-server.git
[submodule "src/node_modules/socketio"]
	path = src/node_modules/socketio
	url = https://github.com/LearnBoost/socket.io.git
